@charset "UTF-8";

/* botero color 
skyblue #99b6bd more darkskyblue 759da6
greenyellow   #b3a86a 
salgu    #ecc9a0
orange  #d4613e 
brown #bb9568
 */
/*작업중*/
html {font-family: 'Alfa Slab One', cursive; font-family: 'Noto Sans KR', sans-serif; }
body {background-color:#ffffff; margin:0;}


@media screen and(max-width:768px) {
	body { background-color:green; }
}

@media screen and(max-width:320px) {
	body { background-color:red; }
}


/* header.jsp  */
.topmenubar { width:1900px; margin:0; padding:0; }
.topmenubar .toplogo { width:100%; border:0px solid black; background-color:#99b6bd; margin:0;}


.menubar { background-color:#759da6; height:40px; line-height:40px; border:0px solid black; font-size:15px; margin:0;padding:0; }
.menubar ul { margin:0; }
.menubar ul li { padding:10px; font-size:15px; height:30px; line-height:15px; color:white;  
				 margin-right:3%; display:inline; list-style:none;}
.menubar ul li a { text-decoration: none; color:white;}
.menubar ul li a:hover { color:#ecc9a0; }



.container { border:opx solid red; float:left;}
.container table { width:1000px; border:1px solid #dcdcdc; border-collapse:collapse;}
.container table th { background-color:#ececec; padding:8px; border-right:1px solid #dcdcdc; border-bottom:1px solid #dcdcdc; font-size:12px; }
.container table tr td { border-right:1px solid #dcdcdc; font-size:12px; align:center;padding:8px; }
/* order_new */
.container input { width:250px;height:30px; }
.container order { width: 100%;max-width: 1000px; margin: auto; padding: 10px 0px;display: flex;justify-content: space-between;}
.container content { border: 2px solid #dadada;max-width: 1000px;width: 100%;margin: auto; padding: 20px; }
.container write-area { border: 0;width: 100%;min-height: 200px; text-align: left;font-size: 16px;resize: none; }


/* 정재훈  updateInfo, join파일에서 hidden처리*/
.hiddenNone { display:none; }

/* leftmenu : 남형진*/
.leftmenu { float:left;width:190px; background-color:#f7f7f7; border:1px solid #ececec; 
			 font-size:13px;text-align:center;border-radius:0px;margin-right:10px; } 
.leftmenu ul { padding:0; margin:0; list-style:none;}
.leftmenu ul li { padding:10px; border:collapse; margin:0; border-bottom:1px solid white;} 
.leftmenu ul li a { text-decoration: none; }
.leftmenu ul li a:hover { color:black; text-decoration: underline; }

/* 로그인 페이지 common/login : 남형진*/
.logincontainer { display:block; margin-top:500px; margin:auto; width:600px; border:1px solid black;} 
.logincontainer input[type="text"] { width:200px;height:50px; }
.logincontainer input[type="password"] { width:200px;height:50px; }
.logincontainer input[type="submit"] { width:100px;height:35px;background-color:#d4613e;font:12px; color:white;border:none; border-radius:5px;padding:5px; }
.logincontainer .leftbox { float:left;border:0px solid black; }
.logincontainer .rightbox { float:right;border:0px solid red; }
































